/* styles.css */

.computer-vision-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 400px;
  padding: 8px;
  margin-bottom: 12px;
}

button {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

span {
  margin-left: 8px;
}

.analysis-section,
.generation-section {
  margin-top: 20px;
  text-align: center;
}

.image-container {
  margin-top: 10px;;
}

.image-style {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.button-pos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result {
  margin-top: 10px;
}
